In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all" 

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

import datetime

from dateutil.parser import parse

%matplotlib inline

In [2]:
import quandl

In [3]:
symbol=['SPY', 'IYR', 'IWN', 'EFA',
       'TLT', 'EEM', 'GSG', 'USIG', 'IGF', 'HYG', 'UUP', 'VXX', 'SHV']

In [4]:
for i in range(len(symbol)):
    symbol[i] = 'EOD/' + symbol[i]
symbol

['EOD/SPY',
 'EOD/IYR',
 'EOD/IWN',
 'EOD/EFA',
 'EOD/TLT',
 'EOD/EEM',
 'EOD/GSG',
 'EOD/USIG',
 'EOD/IGF',
 'EOD/HYG',
 'EOD/UUP',
 'EOD/VXX',
 'EOD/SHV']

In [5]:
df = quandl.get(symbol, authtoken="Ufux_HxUXZKAgFjxWhGi")

In [6]:
df.head()

,EOD/SPY - Open,EOD/SPY - High,EOD/SPY - Low,EOD/SPY - Close,EOD/SPY - Volume,EOD/SPY - Dividend,EOD/SPY - Split,EOD/SPY - Adj_Open,EOD/SPY - Adj_High,EOD/SPY - Adj_Low,...,EOD/SHV - Low,EOD/SHV - Close,EOD/SHV - Volume,EOD/SHV - Dividend,EOD/SHV - Split,EOD/SHV - Adj_Open,EOD/SHV - Adj_High,EOD/SHV - Adj_Low,EOD/SHV - Adj_Close,EOD/SHV - Adj_Volume
Date,,,,,,,,,,,,,,,,,,,,,
1993-01-29,43.9687,43.9687,43.7500,43.9375,1003200.0,0.0,1.0,26.722063,26.722063,26.589147,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1993-02-01,43.9687,44.2500,43.9687,44.2500,480500.0,0.0,1.0,26.722063,26.893023,26.722063,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1993-02-02,44.2187,44.3750,44.1250,44.3437,201300.0,0.0,1.0,26.874001,26.968992,26.817054,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1993-02-03,44.4062,44.8437,44.3750,44.8125,529400.0,0.0,1.0,26.987954,27.253846,26.968992,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1993-02-04,44.9687,45.0937,44.4687,45.0000,531500.0,0.0,1.0,27.329814,27.405783,27.025939,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# create a dataframe to store only adj close prices
symbol_list = symbol
for i in range(len(symbol_list)):
    symbol_list[i] = symbol_list[i] + ' - Adj_Close'

In [8]:
ETF = df[symbol_list]

In [11]:
VMFXX = pd.read_csv("VMFXX.csv")

FileNotFoundError: [Errno 2] File b'VMFXX.csv' does not exist: b'VMFXX.csv'

In [ ]:
ETF = ETF.reset_index()
ETF.head()

In [ ]:
def cal_return(array_like):
    array = np.array(array_like)
    return (float((array[-1] - array[0])/array.T[0]))

In [ ]:
ETF = ETF.resample('M', on = 'Date').apply(cal_return)

In [ ]:
ETF.tail()

In [ ]:
ETF.columns = ['SPY','IYR','IWN','EFA','TLT','EEM','GSG','USIG','IGF','HYG','UUP','VXX','SHV']

In [ ]:
ETF.dropna(inplace=True)
ETF = ETF.reset_index()

In [ ]:
ETF.to_csv("ETF Return.csv")

In [ ]:
SHV = ETF.reset_index()
SHV = SHV[['Date','SHV']]
SHV['Date'] = pd.to_datetime(SHV['Date'])

In [ ]:
for i in range(len(VMFXX)):
    VMFXX.at[i,"caldt"] = parse(str(VMFXX.at[i,"caldt"])).date()
VMFXX.head()

In [ ]:
VMFXX['caldt'] = pd.to_datetime(VMFXX['caldt'])
VMFXX.columns = ['Date','crsp_code','mtna','mret','mnav']

In [ ]:
df = pd.merge(VMFXX,SHV,how="inner",on="Date")

In [ ]:
df['mret'] = pd.to_numeric(df['mret'],errors = 'coerce')
df.tail()

In [ ]:
f = df[['Date','mret','SHV']]
f = f.set_index(['Date'])

In [ ]:
f.corr()

positions, duration, inception
compare: correlation, mean, std
mention start date and end date
monthly
annualize

In [ ]:
# return in percentage form
f.mean()*100

In [ ]:
# standard deviation in percentage form
f.std()*100

In [ ]:
df['Date'].min()
df['Date'].max()

In [ ]:
# return at inception (in percentage form)
f.head(1)*100

In [10]:
f.columns = ['VMFXX','SHV']
f

NameError: name 'f' is not defined

In [59]:
def annual_return(array_like):
    array = np.array(array_like)
    return (float(np.prod(array+1) - 1))

annual_ret = f.resample('Y').apply(annual_return)

In [60]:
# annualized returns in percentage form
annual_ret*100

               VMFXX       SHV
Date
2009-12-31  0.159701  0.339126
2010-12-31  0.012301  0.190964
2011-12-31  0.010300  0.108928
2012-12-31  0.007800  0.081683
2013-12-31  0.014601  0.030920
2014-12-31  0.007700 -0.006952
2015-12-31  0.029003  0.046324
2016-12-31  0.199173  0.326726
2017-12-31  0.579070  0.518028
2018-12-31  1.166474  1.273237